// @import '@blueprintjs/core/lib/scss/variables';

/* Disable drag text highlighting */
* {
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}
